h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 50px 0;
    color: rgb(255, 255, 255);
    text-align: center; 
    background-color: #3B2002;  
}

h2{
    text-align: left;
    padding-left: 70px;
    color: #1d1001
}
span{
    display: block;
    margin-top: 10px;
    padding-left: 70px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    color:rgb(3, 3, 56);
    text-align: left;
}
h3{
    text-align: left;
    margin-bottom: 10;
    padding-left: 70px;
    color: #1d1001;
}
/* Style the footer */
footer {
    background-color: #3B2002;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;}
    }


  
 